<h3>Filters:</h3>

Name: <input class='filterField' type="text" [(ngModel)]="petFilter.name"><br>
Birthday: 
<input class='filterField' type="date" [(ngModel)]="petFilter.birthdayFrom">-
<input class='filterField' type="date" [(ngModel)]="petFilter.birthdayTo"><br>
Vaccinated: <input class='filterField' type="checkbox" [(ngModel)]="petFilter.isVaccinated"><br>
Sex: 
<select [(ngModel)]="petFilter.sex">
  <option></option>
  <option>boy</option>
  <option>girl</option>
</select><br>
Price: 
<input class='filterField' type="number" [(ngModel)]="petFilter.priceFrom" min="0">-
<input class='filterField' type="number" [(ngModel)]="petFilter.priceTo"><br>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Vaccinated</th>
    <th>Sex</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let pet of pets | petFilter : petFilter">
    <td>{{pet.name}}</td>
    <td>{{pet.birthday | date:'dd/MM/yyyy'}}</td>
    <td>{{pet.isVaccinated}}</td>
    <td>{{pet.sex}}</td>
    <td>{{pet.price}}</td>
  </tr>
</table>